# Data cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/notebooks/Datasets/Cleaning/data2.csv")

/tmp/ipykernel_722/1126299775.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/notebooks/Datasets/Cleaning/data2.csv")

In [4]:
data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [5]:
missing_values_count = data.isnull().sum()

In [26]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [7]:
total_cells = np.prod(data.shape)
total_missing = missing_values_count.sum()

In [8]:
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

27.66722370547874

## Drop missing values

* This approach will drop all the rows that contains at-least one missing value.
* The ***axis=1*** will determine the number of values to consider to drop a row.

In [16]:
data_dropped = data.dropna(axis=1)

In [27]:
data_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,AwayTeam,Timeout_Indicator,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009

In [28]:
new_missing_values_count = data_dropped.isnull().sum()
new_missing_values_count[0:10]

Date             0
GameID           0
Drive            0
qtr              0
TimeUnder        0
ydstogo          0
ydsnet           0
PlayAttempted    0
Yards.Gained     0
sp               0
dtype: int64

In [22]:
data_dropped.shape

(407688, 37)

## Replacing missing values

* The ***fillna()*** in Pandas can be used to replace missing values with something else that we specify.

### Replace all the missing values with a common value

* In here all the missing values will be replaced by ***0***.

In [24]:
repl_all_mis_data = data.fillna(0)

In [25]:
repl_all_mis_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,0.0,15:00,15,3600.0,0.0,TEN,...,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [29]:
new_missing_values_count = repl_all_mis_data.isnull().sum()
new_missing_values_count[0:10]

Date            0
GameID          0
Drive           0
qtr             0
down            0
time            0
TimeUnder       0
TimeSecs        0
PlayTimeDiff    0
SideofField     0
dtype: int64

### Replace missing values with the value of the row directly below in the same column

In [31]:
repl_bfill_data = data.bfill(axis=0).fillna(0)

In [32]:
new_missing_values_count = repl_bfill_data.isnull().sum()
new_missing_values_count[0:10]

Date            0
GameID          0
Drive           0
qtr             0
down            0
time            0
TimeUnder       0
TimeSecs        0
PlayTimeDiff    0
SideofField     0
dtype: int64