# Removing columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Data/encoded_data.csv")

In [3]:
data['Discipline'] = 1

In [4]:
data.head()

,Age,Lessons Completed,Quiz Score,Time Per Week,Result_encoded,Gender_Female,Gender_Male,Country_India,Country_Sri Lanka,Country_USA,Discipline
0,20.0,25,78.5,10,1.0,0.0,1.0,1.0,0.0,0.0,1
1,22.0,30,82.0,12,1.0,1.0,0.0,0.0,0.0,1.0,1
2,19.0,18,45.0,8,0.0,0.0,1.0,0.0,1.0,0.0,1
3,21.0,28,88.0,9,1.0,1.0,0.0,1.0,0.0,0.0,1
4,18.0,15,35.0,5,0.0,1.0,0.0,0.0,0.0,1.0,1

## Removing columns with low variance

In [5]:
from sklearn.feature_selection import VarianceThreshold

In [6]:
transform = VarianceThreshold(threshold=0.0)

In [7]:
df_dropped = transform.fit_transform(data)

In [8]:
rem_columns = data.columns[transform.get_support(indices=True)]

In [9]:
df_dropped = pd.DataFrame(df_dropped, columns=rem_columns)

In [10]:
df_dropped.head()

,Age,Lessons Completed,Quiz Score,Time Per Week,Result_encoded,Gender_Female,Gender_Male,Country_India,Country_Sri Lanka,Country_USA
0,20.0,25.0,78.5,10.0,1.0,0.0,1.0,1.0,0.0,0.0
1,22.0,30.0,82.0,12.0,1.0,1.0,0.0,0.0,0.0,1.0
2,19.0,18.0,45.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0
3,21.0,28.0,88.0,9.0,1.0,1.0,0.0,1.0,0.0,0.0
4,18.0,15.0,35.0,5.0,0.0,1.0,0.0,0.0,0.0,1.0