# Scaling and normalizing data

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Data/encoded_data.csv")

In [3]:
data.head()

,Age,Lessons Completed,Quiz Score,Time Per Week,Result_encoded,Gender_Female,Gender_Male,Country_India,Country_Sri Lanka,Country_USA
0,20.0,25,78.5,10,1.0,0.0,1.0,1.0,0.0,0.0
1,22.0,30,82.0,12,1.0,1.0,0.0,0.0,0.0,1.0
2,19.0,18,45.0,8,0.0,0.0,1.0,0.0,1.0,0.0
3,21.0,28,88.0,9,1.0,1.0,0.0,1.0,0.0,0.0
4,18.0,15,35.0,5,0.0,1.0,0.0,0.0,0.0,1.0

In [4]:
data.columns

Index(['Age', 'Lessons Completed', 'Quiz Score', 'Time Per Week',
       'Result_encoded', 'Gender_Female', 'Gender_Male', 'Country_India',
       'Country_Sri Lanka', 'Country_USA'],
      dtype='object')

In [5]:
data.dtypes

Age                  float64
Lessons Completed      int64
Quiz Score           float64
Time Per Week          int64
Result_encoded       float64
Gender_Female        float64
Gender_Male          float64
Country_India        float64
Country_Sri Lanka    float64
Country_USA          float64
dtype: object

## Scaling

### Min-max Scaling

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [8]:
columns_to_scale = ['Age', 'Lessons Completed', 'Quiz Score', 'Time Per Week']
data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])

In [9]:
data.head()

,Age,Lessons Completed,Quiz Score,Time Per Week,Result_encoded,Gender_Female,Gender_Male,Country_India,Country_Sri Lanka,Country_USA
0,0.250,0.60,0.780000,0.583333,1.0,0.0,1.0,1.0,0.0,0.0
1,0.500,0.80,0.826667,0.750000,1.0,1.0,0.0,0.0,0.0,1.0
2,0.125,0.32,0.333333,0.416667,0.0,0.0,1.0,0.0,1.0,0.0
3,0.375,0.72,0.906667,0.500000,1.0,1.0,0.0,1.0,0.0,0.0
4,0.000,0.20,0.200000,0.166667,0.0,1.0,0.0,0.0,0.0,1.0